@media only screen and (max-width:997px){
    .logo img{
        width: auto;
    }
    .dropdowns{
        width: 400px;
        left:calc(50% - 200px);
    }
    .search input{
        width:250px;
    }
    footer{
        height: auto;
        padding-bottom: 10px;
        max-height: none;
    }
}
@media only screen and (max-width:767px){
    .logo img{
        width:auto;
    }
    .dropdowns{
        width: 400px;
        left:calc(50% - 200px);
    }
    .leftbar li{
        width:33.333333%; 
        float: left;
        margin: 0px;
    }
    .navigation li{
        width:33.3333333%;
        margin: 0px;
    }
    .drop-menu{
        left:calc(50% - 80px);
    }
    .leftbar{
        text-align: center;
    }
    footer{
        height:200px;
        max-height: 200px;
    }
    .copy{
        height: auto;
    }
    .copy, .line, .social{
        text-align: center;
    }
}
/*--- small devices and smartphones ---*/
@media only screen and (max-width:480px){
    .images{
        width:300px;
        height: auto;
        margin-left: calc(50% - 150px);
    }
    .images img{
        width: auto;
        height: auto;
    }
    .text div.images img{
        width: 100px;
        height: auto;
    }
    .text div img{
        width: 150px;
        height: auto;
    }
    .logo img{
        width:auto;
    }
    .title{
        height: auto;
        max-height: 300px;
    }
    .navigation li{
        width:100%;
        margin-left: 0px;
    }
    .dropdowns{
        width:300px;
        left:calc(50% - 150px);
        text-align: center;
        margin: 0px;
    }
    .drop-menu{
        left:calc(50% - 92.5px);
    }
    .search input{
        max-width: 200px;
    }
    .leftbar li{
        width:50%; 
        float: left;
        margin: 0px;
    }
    .text button{
        width: 300px;
        margin-left: calc(50% - 150px);
    }
}